body{
    font-family: 'Roboto', sans-serif;
}

.contenedor-pagina{
    border: 0 black;
    background-color: rgb(219, 219, 219);
    width: 85%;
    align: center;
    margin-left: 8%;
}

/* CABECERA ESTILO PARA MAS DE 768PX ############################################## */
.imagen-cabecera{
    border: 0 blue;
    padding: 10px;         
}

.cabecera-pagina{
    border: 0 gold;
    padding: 15px;
}

.menu-cabecera ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border:0 red;
    justify-content:left;
    padding: 10px;
}

.menu-cabecera ul li{
    margin: 10px;
}

.menu-cabecera a{
    text-decoration: none;
}

/* CABECERA ESTILO PARA MENOS DE 768PX ############################################## */
.cabecera-mobil{
    display: none;
    border:0 green;

}

.d1, .d2, .d3{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    border: 5px;
}

.menu-mobil{
    display: none;
    border:0 gold;
    width: 380px;
    position:absolute;
    background-color: white;

}

.burger{
    float: left;
    margin-left: 2px;
}

.burger:hover .menu-mobil{
    display:block;

}

.menu-mobil ul{
    list-style: none;
}

.menu-mobil a{
    text-decoration: none;

}



/* ···················· FIN CABECERA ··············································· */


/* CONTENEDORES DE IMAGEN Y TEXTO PAGINA PRINCIPAL ############ */
.contenedor1{
    display: grid;
    
    grid-template-columns: 38% 62%; 
    border: 0 black;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    z-index: -1;
}

/* .contenedor1-texto{ */
    .contenedor1x{    
        border:0 orange;
        padding: 30px;
        background-color: whitesmoke;
        /*  padding-bottom: 50px; */


}

.contenedor-g-not{
    display: grid;
    grid-template-columns: auto;
    border: 0 blue;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    z-index: -1;
}

.contenedor-not{
    border: 0 red;
    width: 100%;

}

.imagen-libro{
    width: 100%;
    height: auto;
}

.contenedor1-imagen{
    border:0 black;
}

/* FORMULARIO DE CONTACTO*/
.contenedor-c-cont{
    display: grid;
    grid-template-columns: auto;
    border: 0 blue;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    z-index: -1;
    height: fit-content;
}

.mapa{
    display: grid;
    grid-template-columns: auto;
    border: 0 brown;
}

.iframe{
    height: 100%;
    width: auto;
}





/* ···················· FIN TEXTO E IMAGEN ··············································· */

.que-hacemos{
    border: 0 black;
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 30px;

}


/* CONTENEDORES DE NOTICIAS ################################### */
.asideNoticias{
    border: 0 blue;
    padding:10px;
    
}

.contenedor2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    border:0 black;
    margin: 20px;
}

.contenedor2x{
/*  .contenedor2-noticia1{ */
    border:0 red;
    background-color: white;
}

.contenedor2xx{
    padding: 20px;
}

.noticiasCategoria{
    font-weight:bolder;
    color: blue;
}

.noticiasTitulo{
    font-size: 25px;
}

.noticiasFecha{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor2-noticias2{
    border: 1px black;

}


/* ···················· FIN NOTICIAS ··············································· */

/* FOOTER ##################################################### */
.footer{
    border: 0 blue; /*marco*/
    font-family:  'Roboto', sans-serif;

}

.footer-imagen img{
    height: 108px;
    width: 280px;
    max-width: 50%;
    max-height: 50%;
}

.footer-columnas{
    display: grid;
    grid-template-columns: 30% 70%;
    border: 0 red;  /*marco*/
}

.footer-columna{
    padding-bottom: 10px;
    border: 0 orange;   /*marco*/
    list-style: none;
}

.footer-columna i{
    font-family: Roboto, sans-serif;
}

.footer-columna li, a{
    list-style: none;
    line-height: 30px;
    text-decoration: none;
}

.footer-columna img{
    height: 100%;
    width: 100%;
}

.footer-columna2{
    border: solid orange;
}

.imgFooter{
    width: 20%;
    height: 20%;
    max-width: 25%;
    max-height: 25%;
    padding: 10px;
}

.imgFooter1{
    width: 20%;
    height: 20%;
    max-width: 35%;
    max-height: 35%;
    padding: 0px 0px 10px 10px;
}




/* ···················· FIN FOOTER ··············································· */
.img_cont1{
    width: 100%;
    height: auto;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media only screen and (max-width: 768px){
    .imagen-cabecera{
        text-align: center;
    }
    
    .cabecera-pagina{
        display: none;
    }

    .cabecera-mobil{
        display: block;
        margin: -2px;
        padding-top: 5px;
    }

    .contenedor1{
        grid-template-columns: auto;
    }

    .contenedor1 .contenedor1x:nth-of-type(1){
        order: 2;
    }

    .contenedor2{
        grid-template-columns: auto;
    }

    .footer-columnas{
        grid-template-columns: auto;
    }

    .que-hacemos{
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-imagen{
        width: 100%;
        height: 100%;
    }



}